@model IEnumerable<BOL.tbl_User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Users List</h2>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("UserEmail", "Index", new { SortOrder = (ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc")), SortBy = "UserEmail", Page = (ViewBag.Page == null ? "1" : ViewBag.Page) })
            @*@Html.DisplayNameFor(model => model.UserEmail)*@
        </th>
        <th>
            @Html.ActionLink("Role", "Index", new { SortOrder = (ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc")), SortBy = "UserRole", Page = (ViewBag.Page == null ? "1" : ViewBag.Page) })
            @*@Html.DisplayNameFor(model => model.Role)*@
        </th>
        <th>
            Edit
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.UserId })
            </td>
        </tr>
    }
</table>

@{
    double TotalPage = ViewBag.TotalPages;
}
<ul class="pagination">
    @for (int i = 1; i <= TotalPage; i++)
    {
        if (i == ViewBag.Page)
        {
            <li> @Html.ActionLink(i.ToString() + " ", "Index", new { SortOrder = (ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder), SortBy = (ViewBag.SortBy == null ? "UserEmail" : ViewBag.SortBy), Page = i })</li>
        }
        else
        {
            <li>@Html.ActionLink(i.ToString() + " ", "Index", new { SortOrder = (ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder), SortBy = (ViewBag.SortBy == null ? "Role" : ViewBag.SortBy), Page = i })</li>
        }
    }
</ul>